{
    "mongodb_host": "localhost",
    "mongodb_port": 27017,
    "databases": {
      "db1": {
        "collections": {
          "collection1": {
              "date_field": "created_at",
              "start_date": "2023-01-01",
              "end_date": "2025-01-01"
          },
        "collection2": {}
        }
      },
      "db2": {},
    },
    "date_field": "created_at",
    "start_date": "2023-01-01",
    "end_date": "2023-12-31"
}

